In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.master('local[*]').appName('ramen-play').getOrCreate()

In [3]:
ramen_df = spark.read.option('header',True) \
.option('inferSchema',True) \
.csv('ramen-ratings.csv')

In [14]:
ramen_df.printSchema()

root
 |-- Review #: string (nullable = true)
 |-- Brand: string (nullable = true)
 |-- Variety: string (nullable = true)
 |-- Style: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Stars: string (nullable = true)
 |-- Top Ten: string (nullable = true)

In [4]:
ramen_df.show(20,False)

+--------+--------------+-----------------------------------------------------------+-----+-----------+-----+-------+
|Review #|Brand         |Variety                                                    |Style|Country    |Stars|Top Ten|
+--------+--------------+-----------------------------------------------------------+-----+-----------+-----+-------+
|2580    |New Touch     |T's Restaurant Tantanmen                                   |Cup  |Japan      |3.75 |null   |
|2579    |Just Way      |Noodles Spicy Hot Sesame Spicy Hot Sesame Guan-miao Noodles|Pack |Taiwan     |1    |null   |
|2578    |Nissin        |Cup Noodles Chicken Vegetable                              |Cup  |USA        |2.25 |null   |
|2577    |Wei Lih       |GGE Ramen Snack Tomato Flavor                              |Pack |Taiwan     |2.75 |null   |
|2576    |Ching's Secret|Singapore Curry                                            |Pack |India      |3.75 |null   |
|2575    |Samyang Foods |Kimchi song Song Ramen                                     |Pack |South Korea|4.75 |null   |
|2574    |Acecook       |Spice Deli Tantan Men With Cilantro                        |Cup  |Japan      |4    |null   |
|2573    |Ikeda Shoku   |Nabeyaki Kitsune Udon                                      |Tray |Japan      |3.75 |null   |
|2572    |Ripe'n'Dry    |Hokkaido Soy Sauce Ramen                                   |Pack |Japan      |0.25 |null   |
|2571    |KOKA          |The Original Spicy Stir-Fried Noodles                      |Pack |Singapore  |2.5  |null   |
|2570    |Tao Kae Noi   |Creamy tom Yum Kung Flavour                                |Pack |Thailand   |5    |null   |
|2569    |Yamachan      |Yokohama Tonkotsu Shoyu                                    |Pack |USA        |5    |null   |
|2568    |Nongshim      |Mr. Bibim Stir-Fried Kimchi Flavor                         |Pack |South Korea|4.25 |null   |
|2567    |Nissin        |Deka Buto Kimchi Pork Flavor                               |Bowl |Japan      |4.5  |null   |
|2566    |Nissin        |Demae Ramen Bar Noodle Aka Tonkotsu Flavour Instant Noodle |Pack |Hong Kong  |5    |null   |
|2565    |KOKA          |Mushroom Flavour Instant Noodles                           |Cup  |Singapore  |3.5  |null   |
|2564    |TRDP          |Mario Masala Noodles                                       |Pack |India      |3.75 |null   |
|2563    |Yamachan      |Tokyo Shoyu Ramen                                          |Pack |USA        |5    |null   |
|2562    |Binh Tay      |Mi Hai Cua                                                 |Pack |Vietnam    |4    |null   |
|2561    |Paldo         |Premium Gomtang                                            |Pack |South Korea|4    |null   |
+--------+--------------+-----------------------------------------------------------+-----+-----------+-----+-------+
only showing top 20 rows

In [5]:
ramen_df.select('Top Ten').distinct().show()

+--------+
| Top Ten|
+--------+
| 2016 #5|
| 2016 #9|
| 2015 #9|
| 2013 #1|
| 2012 #4|
|2014 #10|
| 2013 #9|
| 2015 #8|
| 2012 #5|
| 2016 #1|
|    null|
| 2014 #7|
| 2015 #4|
| 2014 #8|
|2015 #10|
| 2013 #6|
|2012 #10|
| 2015 #6|
| 2015 #1|
| 2012 #2|
+--------+
only showing top 20 rows